<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixmeet</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <img src="./images/logo.png" alt="mixmeet logo" class="logo">
        <nav>
            
            <a href="/sign-up">Sign Up</a>
            <a href="/sign-in">Sign In</a>
        </nav>
    </header>
    <main class="home-main">
    <h1>Welcome to Mixmeet</h1>
    <p>Come meet and mix in Tech</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo harum eos beatae sed minus, laboriosam itaque sequi consectetur impedit odit aliquid asperiores quaerat nulla iure voluptatum saepe tempore amet id omnis. Vitae ducimus ratione fuga quo est asperiores nisi ullam nulla iure magnam sapiente debitis illum quod incidunt, reiciendis cumque.</p>
    </main>
    <footer>
        &copy; Mixmeet @ <%=new Date().getFullYear()%>
    </footer>
</body>
</html>